<!DOCTYPE html>
<html>
<head>
	<title>{{ template "title" . }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<body class="bg-dark">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark py-1 bg-dark fixed-top" id="mainNav">
	        <div class="container">
	            <a href="/" class="navbar-brand js-scroll-trigger" exact><h4>HES</h4></a>
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navbarResponsive">
	                <ul class="navbar-nav">
	                    <li class="nav-item" data-toggle="collapse">
	                        <a href="/network" data-target=".navbar-collapse.show" class="nav-link js-scroll-trigger"><h5>Network</h5></a>
	                    </li>
	                </ul>
	                <ul class="navbar-nav ml-auto">
	                	{{ if .Auth }}
	                		<li class="nav-item" data-toggle="collapse">
	                            <a href="/account" data-target=".navbar-collapse.show" class="nav-link js-scroll-trigger"><h5>Account</h5></a>
	                        </li>
	                        <li class="nav-item" data-toggle="collapse">
	                            <a href="/signout" ata-target=".navbar-collapse.show" class="nav-link js-scroll-trigger"><h5>Signout</h5></a>
	                        </li>
	                	{{ else }}
	                		<li class="nav-item" data-toggle="collapse">
	                            <a href="/signin" data-target=".navbar-collapse.show" class="nav-link js-scroll-trigger"><h5>Signin</h5></a>
	                        </li>
	                		<li class="nav-item" data-toggle="collapse">
	                            <a href="/signup" data-target=".navbar-collapse.show" class="nav-link js-scroll-trigger"><h5>Signup</h5></a>
	                        </li>
	                	{{ end }}
	                </ul>
	            </div>
	        </div>
	    </nav>
		<br><br><br>
	</header>
	<main>
		<div class="py-3 bg-dark">
			<h2 class="text-secondary text-center">Hidden Email Service</h2>
		</div>
		<div class="text-light col-md-8 mx-auto">
			{{ if .Result }}
				{{ if (eq .Return 1 )}}
					<div class="alert alert-danger" role="alert">
				{{ else if (eq .Return 2 )}}
					<div class="alert alert-warning" role="alert">
				{{ else }}
					<div class="alert alert-success" role="alert">
				{{ end }}
				       	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				       		<span aria-hidden="true">&times;</span>
				       	</button>
			       	{{ .Result }}
			    	</div>
		    {{ end }}
			{{ template "main" . }}
		</div>
	</main>
</body>
</html>
