{{ define "title" }}
	Network.Contact
{{ end }}

{{ define "main" }}
	<div id="message_copy" style="display: none" class="text-light mx-auto">
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" onclick="close_block('message_copy')">
				<span>&times;</span>
			</button>
			Key copied
		</div>
	</div>
	<form class="text-center" method="POST" action="/network/contact">
        <div class="form-group">
        	{{ if .F2F }}
            	<input type="submit" name="switchf2f" value="F2F" class="btn btn-success w-100">
        	{{ else }}
        		<input type="submit" name="switchf2f" value="F2F" class="btn btn-danger w-100">
        	{{ end }}
        </div>
    </form>
	<form class="text-center" method="POST" action="/network/contact">
        <div class="form-group">
            <input type="text" class="form-control bg-dark text-light" name="nickname" placeholder="Nickname">
        </div>
        <div class="form-group">
            <input type="text" class="form-control bg-dark text-light" name="public_key" placeholder="Public key">
        </div>
        <div class="form-group">
            <input type="submit" name="append" value="Append contact" class="btn btn-success w-100">
        </div>
    </form>
    {{ range $key, $value := .Contacts }}
		<div class="form-group row">
			<div class="col-md-6 w-50">
				<button type="button" class="btn btn-secondary w-100" disabled>
					<div class="text-truncate">{{ $key }}</div>
				</button>
			</div>
			<div class="col-md-3 w-25">
				<button type="button" class="btn btn-success text-truncate w-100" onclick="copy_text('public_key_' + '{{ $key }}')">Copy</button>
			</div>
			<div class="col-md-3 w-25">
				<form class="text-center" method="POST" action="/network/contact">
					<input type="hidden" name="public_key" value="{{ $value }}">
					<input type="submit" name="delete" value="Delete" class="btn btn-danger text-truncate w-100">
				</form>
			</div>
		</div>
	{{ end }}
	{{ range $key, $value := .Contacts }}
		<div style="opacity:0">
			<input id="public_key_{{ $key }}" type="text" value="{{ $value }}">
		</div>
	{{ end }}
{{ end }}
