{{define "title"}}
Chat
{{end}}

{{define "main"}}
<script type="text/javascript" defer>
  window.onload = function () {
    switchToInputField();
    connectToService();
  }
</script>

<script type="text/javascript" defer>
  function convertToPlain(html){
    // Create a new div element
    var tempDivElement = document.createElement("div");

    // Set the HTML content with the given value
    tempDivElement.innerHTML = html;

    // Retrieve the text property of the element 
    return tempDivElement.textContent || tempDivElement.innerText || "";
  }

  function switchToInputField() {
    var objDiv = document.getElementById("chat_body");
    objDiv.scrollTop = objDiv.scrollHeight;

    var input = document.getElementById('input_message');
    input.focus();
    input.select();
  }

  function connectToService() {
    let s = "ws://" + window.location.host + "/friends/chat/ws";
    let socket = new WebSocket(s);

    socket.onopen = () => {
      console.log('Connection with {{.FAddress.FFriend}}');
      socket.send(JSON.stringify({
        address: "{{.FAddress.FFriend}}"
      }));
    };

    socket.onmessage = (e) => {
      let obj = JSON.parse(e.data);
      var d1 = document.getElementById('chat_body');
      d1.insertAdjacentHTML('beforeend', `
  <div class="d-flex flex-row justify-content-start mb-2 pt-1">
    <div>
      <p class="small p-2 ms-3 mb-1 text-black rounded-3 bg-secondary">`+ convertToPlain(obj.message) +`</p>
      <p class="small ms-3 mb-3 rounded-3 text-muted">`+ obj.timestamp +`</p>
    </div>
  </div>
      `);
    };

    socket.onclose = (e) => {
      console.warn('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
      setTimeout(function() {
        connectToService();
      }, 1000);
    };

    socket.onerror = (e) => {
      console.warn('Socket encountered error: ', e.message, 'Closing socket');
      socket.close();
    };

    window.onbeforeunload = function () {
      console.warn('Reloading page with socket');
      socket.close();
    };
  }
</script>

<style type="text/css" rel="stylesheet">
.need-break-text {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
</style>

<div id="chat_body" class="card-body" style="position: relative; height: 100%; overflow:auto;">
  {{range .FMessages}}
  {{if .FIsIncoming}}
  <div class="need-break-text d-flex flex-row justify-content-start mb-2 pt-1">
    <div>
      <p class="small p-2 ms-3 mb-1 text-white rounded-3 bg-secondary">{{.FMessage}}</p>
      <p class="small ms-3 mb-3 rounded-3 text-muted">{{.FTimestamp}}</p>
    </div>
  </div>
  {{else}}
  <div class="need-break-text d-flex flex-row justify-content-end mb-2 pt-1">
    <div>
      <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">{{.FMessage}}</p></b>
      <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{.FTimestamp}}</p>
    </div>
  </div>
  {{end}}
  {{end}}
</div>

<form class="card-footer d-flex" method="POST">
  <input hidden name="method" value="POST">
  <input type="text" autocomplete="off" class="form-control form-control-lg bg-dark text-white m-1" name="input_message"
    placeholder="Type message ..." id="input_message">
  <input type="submit" name="submit" value="Send message" class="btn btn-info m-1">
</form>
{{end}}
