{{define "title"}}
Chat
{{end}}

{{define "main"}}
<script type="text/javascript" defer>
  window.onload = function () {
    switchToInput();
    turnOnWebSocket();
  }
</script>

<script type="text/javascript" defer>
  function switchToInput() {
    var objDiv = document.getElementById("chat_body");
    objDiv.scrollTop = objDiv.scrollHeight;

    var input = document.getElementById('input_message');
    input.focus();
    input.select();
  }

  function turnOnWebSocket() {
    let s = "ws://" + window.location.host + "/friends/chat/ws";
    let socket = new WebSocket(s);
    socket.onopen = () => {
      socket.send(JSON.stringify({
        address: "{{.FAddress.FFriend}}"
      }));
    }
    socket.onmessage = (e) => {
      let obj = JSON.parse(e.data);
      var d1 = document.getElementById('chat_body');
      d1.insertAdjacentHTML('beforeend', `
  <div class="d-flex flex-row justify-content-start mb-2 pt-1">
    <div>
      <p class="small p-2 ms-3 mb-1 text-black rounded-3 bg-light">`+ obj.message +`</p>
      <p class="small ms-3 mb-3 rounded-3 text-muted">`+ obj.timestamp +`</p>
    </div>
  </div>
      `);
    }
    socket.onerror = (e) => {
      socket.close();
    }
    socket.onclose = (e) => {
      console.debug("socket closed");
    }
    window.onbeforeunload = function () {
      socket.onclose = function () { }; // disable onclose handler first
      socket.close();
    };
  }
</script>

<style type="text/css" rel="stylesheet">
.need-break-text {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
</style>

<div id="chat_body" class="card-body" style="position: relative; height: 100%; overflow:auto;">
  {{range .FMessages}}
  {{if .FIsIncoming}}
  <div class="need-break-text d-flex flex-row justify-content-start mb-2 pt-1">
    <div>
      <p class="small p-2 ms-3 mb-1 text-black rounded-3 bg-light">{{.FMessage}}</p>
      <p class="small ms-3 mb-3 rounded-3 text-muted">{{.FTimestamp}}</p>
    </div>
  </div>
  {{else}}
  <div class="need-break-text d-flex flex-row justify-content-end mb-2 pt-1">
    <div>
      <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{.FMessage}}</p>
      <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{.FTimestamp}}</p>
    </div>
  </div>
  {{end}}
  {{end}}
</div>

<form class="card-footer d-flex" method="POST">
  <input hidden name="method" value="POST">
  <input type="text" autocomplete="off" style="height:100%;" class="form-control form-control-lg" name="input_message"
    placeholder="Type message" id="input_message">
  <input type="submit" name="submit" value="Send message" style="height:100%;" class="btn btn-primary">
</form>
{{end}}
