<!DOCTYPE html>
<html>

<head>
    <title>{{template "title" .}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/avatar.js" type="text/javascript" defer></script>
    <script src="/static/js/blocks.js" type="text/javascript" defer></script>
    <script src="/static/js/jquery.js" type="text/javascript" defer></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" defer></script>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="card" style="height:100vh;">
        <div class="card-header d-flex justify-content-between align-items-center p-3">
            <div>
                <a href="/about" class="btn btn-primary button">HLM</a>
            </div>
            <div>
                <a href="/friends" class="btn btn-primary button">Friends</a>
                <a href="/settings" class="btn btn-primary button">Settings</a>
            </div>
        </div>
        <div class="w-100">
            <div id="message_copy" style="display: none" class="text-light mx-auto">
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" onclick="close_block('message_copy');">
                        <span>&times;</span>
                    </button>
                    Key copied
                </div>
            </div>
        </div>
        {{template "main" .}}
    </div>
</body>

</html>