{{define "title"}}
Settings
{{end}}

{{define "main"}}
<div class="my-lg-4 p-3 col-md-10 mx-auto text-center">
    <h1 class="col-md-10 mb-3 mx-auto h3">Base information</h1>
    <div class="card mb-3">
        <h5 class="card-header text-white bg-secondary">Public key</h5>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-6 w-50">
                    <button type="button" class="btn btn-primary w-100" onclick="copy_text('public_key');open_block('message_copy');">Copy</button>
                </div>
                <div class="col-md-6 w-50">
                    <a href="/qr/public_key" class="btn btn-primary button w-100">QR code</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <h5 class="card-header text-white bg-secondary">Connections</h5>
        <div class="card-body">
            <form class="mb-3" method="POST" action="/settings">
                <!-- HTML does not support another methods (PUT, DELETE, etc...) -->
                <input hidden name="method" value="POST"> 
                <div class="row">
                    <div class="col-md-5 w-50">
                        <input type="text" name="host" placeholder="Host" class="text-center form-control w-100">
                    </div>
                    <div class="col-md-3 w-25">
                        <input type="text" name="port" placeholder="Port" class="text-center form-control w-100">
                    </div>
                    <div class="col-md-4 w-25">
                        <input type="submit" name="submit" value="+" class="btn btn-success w-100">
                    </div>
                </div>
            </form>
            {{range .FConnections}}
            <form class="mb-3" method="POST" action="/settings">
                <!-- HTML does not support another methods (PUT, DELETE, etc...) -->
                <input hidden name="method" value="DELETE">
                <div class="row">
                    <div class="col-md-8 w-75">
                        <input hidden type="text" name="address" value="{{.}}" class="text-center form-control w-100">
                        <button disabled type="button" class="btn btn-primary w-100" style="overflow: hidden;">{{.}}</button>
                    </div>
                    <div class="col-md-4 w-25">
                        <input type="submit" name="submit" value="-" class="btn btn-danger w-100">
                    </div>
                </div>
            </form>
            {{end}}
            <!-- ... -->
        </div>
    </div>
    <div style="opacity:0">
        <input type="text" id="public_key" value="{{.FPublicKey}}">
    </div>
</div>
{{end}}