{{define "title"}}

{{if (eq .FLanguage 0)}}
Friends
{{else if (eq .FLanguage 1)}}
Друзья
{{else if (eq .FLanguage 2)}}
Amikoj
{{end}}

{{end}}

{{define "header"}}
{{end}}

{{define "main"}}
<style>
    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<div class="my-lg-4 p-3 col-md-10 mx-auto text-center">
    <div class="card mb-3 bg-dark">
        <h5 class="card-header text-white bg-secondary p-2">
            {{if (eq .FLanguage 0)}}
            Friends
            {{else if (eq .FLanguage 1)}}
            Друзья
            {{else if (eq .FLanguage 2)}}
            Amikoj
            {{end}}
        </h5>
        <div class="card-body">
            <form class="mb-3" method="POST" action="/friends">
                <!-- HTML does not support another methods (PUT, DELETE, etc...) -->
                <input hidden name="method" value="POST">
                <div class="row">
                    <div class="col-md-5 w-50">
                        {{if (eq .FLanguage 0)}}
                        <input type="text" name="alias_name" placeholder="Alias"
                            class="text-center form-control bg-dark text-white w-100">
                        {{else if (eq .FLanguage 1)}}
                        <input type="text" name="alias_name" placeholder="Имя"
                            class="text-center form-control bg-dark text-white w-100">
                        {{else if (eq .FLanguage 2)}}
                        <input type="text" name="alias_name" placeholder="Nomo"
                            class="text-center form-control bg-dark text-white w-100">
                        {{end}}
                    </div>
                    <div class="col-md-3 w-25">
                        {{if (eq .FLanguage 0)}}
                        <input type="text" name="public_key" placeholder="Key"
                            class="text-center form-control bg-dark text-white w-100">
                        {{else if (eq .FLanguage 1)}}
                        <input type="text" name="public_key" placeholder="Ключ"
                            class="text-center form-control bg-dark text-white w-100">
                        {{else if (eq .FLanguage 2)}}
                        <input type="text" name="public_key" placeholder="Ŝlosilo"
                            class="text-center form-control bg-dark text-white w-100">
                        {{end}}
                    </div>
                    <div class="col-md-4 w-25">
                        <input type="submit" name="submit" value="◀" class="btn btn-info w-100">
                    </div>
                </div>
            </form>
            {{range .FFriends}}
            <form class="mb-3" method="POST" action="/friends">
                <!-- HTML does not support another methods (PUT, DELETE, etc...) -->
                <input hidden name="method" value="DELETE">
                <div class="row">
                    <div class="col-md-8 w-75">
                        <input hidden type="text" name="alias_name" value="{{.}}"
                            class="text-center form-control w-100">
                        <!-- GET -->
                        <a href="/friends/storage?alias_name={{.}}" class="ellipsis btn btn-secondary button w-100">{{.}}</a>
                    </div>
                    <div class="col-md-4 w-25">
                        <input type="submit" name="submit" value="✖" class="btn btn-info w-100">
                    </div>
                </div>
            </form>
            {{end}}
            <!-- ... -->
        </div>
    </div>
</div>
{{end}}