{{define "title"}}

{{if (eq .FLanguage 0)}}
Chat
{{else if (eq .FLanguage 1)}}
Чат
{{else if (eq .FLanguage 2)}}
Babilejo
{{end}}

{{end}}

{{define "header"}}
<script type="text/javascript" defer>
    const copy_pubkey = async () => {
        let text = "{{.FAddress.FPublicKey}}";
        try {
            await navigator.clipboard.writeText(text);
            console.log('Content copied to clipboard');
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
    }

    function set_info_color(id) {
        var element = document.getElementById(id);
        element.className = "btn btn-primary";
    }
</script>

<button id="copy_pubkey" type="button" class="btn btn-info"
    onclick="copy_pubkey('{{.FAddress.FPublicKey}}');set_info_color('copy_pubkey');">
    {{if (eq .FLanguage 0)}}
    Key
    {{else if (eq .FLanguage 1)}}
    Ключ
    {{else if (eq .FLanguage 2)}}
    Ŝlosilo
    {{end}}
</button>
{{end}}

{{define "main"}}
<script type="text/javascript" defer>
    window.onload = function () {
        connectToService();
        switchToInputField();
    }
</script>

<script type="text/javascript" defer>
    function downloadBase64File(contentBase64, fileName) {
        const linkSource = `data:application/octet-stream;base64,${contentBase64}`;
        const downloadLink = document.createElement('a');
        document.body.appendChild(downloadLink);

        downloadLink.href = linkSource;
        downloadLink.target = '_self';
        downloadLink.download = fileName;
        downloadLink.click();
    }

    function scrollToBottom() {
        var objDiv = document.getElementById("chat_body");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    function switchToInputField() {
        scrollToBottom();

        var input = document.getElementById('input_message');
        input.focus();
        input.select();
    }

    function connectToService() {
        let s = "ws://" + window.location.host + "/friends/chat/ws";
        let socket = new WebSocket(s);

        socket.onopen = () => {
            console.log('Connection with {{.FAddress.FPubKeyHash}}');
            socket.send(JSON.stringify({
                address: "{{.FAddress.FPubKeyHash}}"
            }));
        };

        socket.onmessage = (e) => {
            let obj = JSON.parse(e.data);

            var d1 = document.getElementById('chat_body');
            var aliasName = "{{.FAddress.FAliasName}}";
            var insertHTML = "";
            if (obj.filename == "") { // got text message
                insertHTML = `
          <div class="need-break-text d-flex flex-row justify-content-start mb-2 pt-1">
            <div>
              <p class="border border-secondary rounded text-center p-2 me-3 mb-1 text-white bg-dark">`+aliasName+`</p>
              <p class="rounded text-center p-2 ms-3 mb-1 text-white bg-secondary">` + obj.maindata + `</p>
              <p class="small ms-3 mb-3 text-muted">` + obj.timestamp + `</p>
            </div>
          </div>
        `
            } else { // got file message
                let filename = obj.filename;
                insertHTML = `
          <div class="need-break-text d-flex flex-row justify-content-start mb-2 pt-1">
            <div>
              <p class="border border-secondary rounded text-center p-2 me-3 mb-1 text-white bg-dark">`+aliasName+`</p>
              <button class="btn btn-muted text-dark w-100" onclick="downloadBase64File('` + obj.maindata + `', '` + filename + `')">
                ` + filename + `
              </button>
              <p class="small ms-3 mb-3 text-muted">` + obj.timestamp + `</p>
            </div>
          </div>
        `
            }

            d1.insertAdjacentHTML('beforeend', insertHTML);
            scrollToBottom();
        };

        socket.onclose = (e) => {
            console.warn('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connectToService();
            }, 1000);
        };

        socket.onerror = (e) => {
            console.warn('Socket encountered error: ', e.message, 'Closing socket');
            socket.close();
        };

        window.onbeforeunload = function () {
            console.warn('Reloading page with socket');
            socket.close();
        };
    }
</script>

<style type="text/css" rel="stylesheet">
    .need-break-text {
        -ms-word-break: break-all;
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
</style>

<div id="chat_body" class="card-body" style="position: relative; height: 100%; overflow:auto;">
    {{$x:=.FAddress}}
    {{range .FMessages}}
    {{if .FIsIncoming}}
    <div class="need-break-text d-flex flex-row justify-content-start mb-2 pt-1">
        <div>
            <p class="border border-secondary rounded text-center p-2 me-3 mb-1 text-white bg-dark">
                {{$x.FAliasName}}
            </p>
            {{if (eq .FFileName "")}}
            <p class="rounded text-center p-2 ms-3 mb-1 text-white bg-secondary">{{.FMainData}}</p>
            {{else}}
            <button class="btn btn-muted text-center text-dark w-100"
                onclick="downloadBase64File('{{.FMainData}}', '{{.FFileName}}')">
                {{.FFileName}}
            </button>
            {{end}}
            <p class="small ms-3 mb-3 text-muted">{{.FTimestamp}}</p>
        </div>
    </div>
    {{else}}
    <div class="need-break-text d-flex flex-row justify-content-end mb-2 pt-1">
        <div>
            <p class="border border-info rounded text-center p-2 me-3 mb-1 text-white bg-dark">
                ___
            </p>
            {{if (eq .FFileName "")}}
            <p class="rounded text-center p-2 me-3 mb-1 text-white bg-info">{{.FMainData}}</p>
            {{else}}
            <button class="btn btn-primary text-center text-white w-100"
                onclick="downloadBase64File('{{.FMainData}}', '{{.FFileName}}')">
                {{.FFileName}}
            </button>
            {{end}}
            <p class="small me-3 mb-3 text-muted d-flex justify-content-end">{{.FTimestamp}}</p>
        </div>
    </div>
    {{end}}
    {{end}}
</div>

<form class="card-footer d-flex" method="POST">
    <!-- HTML does not support another methods (PUT, DELETE, etc...) -->
    <input hidden name="method" value="POST">
    <input type="text" autocomplete="off" class="form-control form-control-lg bg-dark text-white m-1"
        name="input_message" placeholder="Type message ..." id="input_message">
    <input type="submit" style="width:5em;" name="send" value="🗨" class="btn btn-info m-1">
    <button type="button" style="width:5em;" class="btn btn-info m-1"
        onclick="location.href='/friends/upload?alias_name={{.FAddress.FAliasName}}';">📂</button>
</form>
{{end}}