<!DOCTYPE html>
<html>

<head>
    <title>{{template "title" .}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery.js" type="text/javascript" defer></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" defer></script>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
</head>

<body class="bg-dark text-white">
    <div class="card bg-dark" style="height:100vh;">
        <div class="card-header d-flex justify-content-between align-items-center p-3">
            <div class="d-inline">
                <a href="/about" class="btn btn-secondary button"><b>HLM</b></a>
                {{template "header" .}}
            </div>
            <div>
                {{if (eq .FLanguage 0)}}
                <a href="/friends" class="btn btn-secondary button"><b>Friends</b></a>
                <a href="/settings" class="btn btn-secondary button"><b>Settings</b></a>
                {{else if (eq .FLanguage 1)}}
                <a href="/friends" class="btn btn-secondary button"><b>Друзья</b></a>
                <a href="/settings" class="btn btn-secondary button"><b>Настройки</b></a>
                {{else if (eq .FLanguage 2)}}
                <a href="/friends" class="btn btn-secondary button"><b>Amikoj</b></a>
                <a href="/settings" class="btn btn-secondary button"><b>Agordoj</b></a>
                {{end}}
            </div>
        </div>
        {{template "main" .}}
    </div>
</body>

</html>