{{ define "title" }}
	Account
{{ end }}

{{ define "main" }}
	<div id="message_copy" style="display: none" class="text-light mx-auto">
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" onclick="close_block('message_copy')">
				<span>&times;</span>
			</button>
			Key copied
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-6 w-50">
		<button type="button" class="btn btn-secondary divtext w-100" disabled>{{ .Auth }}</button>
		</div>
		<div class="col-md-6 w-50">
			<button type="button" class="btn btn-danger w-100" onclick="view_block('input_password'); clear_value('username'); clear_value('password'); close_block('view_private_key'); close_block('view_public_key')">Delete account</button>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-6 w-50">
			<button type="button" class="btn btn-info w-100" onclick="view_block('view_public_key'); close_block('view_private_key'); close_block('input_password')">Public key</button>
		</div>
		<div class="col-md-6 w-50">
			<button type="button" class="btn btn-info w-100" onclick="view_block('view_private_key'); close_block('view_public_key'); close_block('input_password')">Private key</button>
		</div>
	</div>
	<div id="view_public_key" style="display: none" class="card text-white bg-dark mb-3">
		<h5 class="card-header">Public key</h5>
		<div class="card-header">
			<div class="form-group row">
				<div class="col-md-6 w-50">
					<button type="button" class="btn btn-success w-100" onclick="copy_text('public_key')">Copy</button>
				</div>
				<div class="col-md-6 w-50">
					<form class="text-center" method="POST" action="/account/public_key">
						<input type="submit" name="submit" value="QR code" class="btn btn-success w-100">
					</form>
				</div>
			</div>
		</div>
		<div class="card-body">
			<h6 class="card-text">{{ .PublicKey }}</h6>
		</div>
	</div>
	<div id="view_private_key" style="display: none" class="card text-white bg-dark mb-3">
		<h5 class="card-header">Private key</h5>
		<div class="card-header">
			<div class="form-group row">
				<div class="col-md-6 w-50">
					<button type="button" class="btn btn-success w-100" onclick="copy_text('private_key')">Copy</button>
				</div>
				<div class="col-md-6 w-50">
					<form class="text-center" method="POST" action="/account/private_key">
						<input type="submit" name="submit" value="QR code" class="btn btn-success w-100">
					</form>
				</div>
			</div>
		</div>
		<div class="card-body">
			<h6 class="card-text">{{ .PrivateKey }}</h6>
		</div>
	</div>
	<div id="input_password" style="display: none" class="form-group">
		<form id='password-form' class="text-center" method="POST" action="/account">
			<div class="form-group">
				<input id="username" type='text' class='form-control bg-dark text-light' name='username' placeholder='Username'>
			</div>
			<div class="form-group">
				<input id="password" type='password' class='form-control bg-dark text-light' name='password' placeholder='Password'>
			</div>
			<div class="form-group">
				<input type="submit" name="delete" value="Confirm deletion " class="btn btn-warning w-100">
			</div>
		</form>
	</div>
	<div style="opacity:0">
		<input id="private_key" type="text" value="{{ .PrivateKey }}">
		<input id="public_key" type="text" value="{{ .PublicKey }}">
	</div>
{{ end }}
