{{ define "title" }}
	HES
{{ end }}

{{ define "main" }}
	<div class="card text-white bg-dark mb-3">
        <h5 class="card-header bg-secondary">HES project</h5>
        <div class="card-body">
            <h6 class="card-text">version: 1.1.11;</h6>
            <h6 class="card-text">project: <a target="_blank" class="text-info" href="https://github.com/Number571/HES">hes.git</a>;</h6>
            <h6 class="card-text">author: <a target="_blank" class="text-info" href="https://github.com/Number571">number571</a>;</h6>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <h5 class="card-header bg-secondary">Sources</h5>
        <div class="card-body">
            <h6 class="card-text">protocol: <a target="_blank" class="text-info" href="https://github.com/Number571/gopeer">gopeer.git</a>;</h6>
            <h6 class="card-text">database: <a target="_blank" class="text-info" href="https://github.com/mattn/go-sqlite3">go-sqlite3.git</a>;</h6>
            <h6 class="card-text">design: <a target="_blank" class="text-info" href="https://github.com/twbs/bootstrap">bootstrap.git</a>;</h6>
            <h6 class="card-text">qrcode: <a target="_blank" class="text-info" href="https://github.com/boombuler/barcode">barcode.git</a>;</h6>
        </div>
    </div>
{{ end }}
